/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root{
    --fs-regular:1rem; 
    --fs-medium:1.5rem;
    --fs-bold:2rem;

  /*COLOR THEME 1*/
  --t1-color-darkest:#171F32;
  --t1-color-dark:#3B4765;
  --t1-color-medium:#647399;
  --t1-color-light:#EBE3DB;
  --t1-color-egual:#D04031;

  /*COLOR THEME 2*/
  --t2-color-darkest:#171F32;
  --t2-color-dark:#3B4765;
  --t2-color-medium:#
  --t2-color-light:#EBE3DB;
  --t2-color-egual:#D04031;
  /*COLOR THEME 3*/
  --t2-color-darkest:#171F32;
  --t2-color-dark:#3B4765;
  --t2-color-medium:#
  --t2-color-light:#EBE3DB;
  --t2-color-egual:#D04031;


}

body{
    font-family: 'League Spartan', sans-serif;
}

/*Typo*/

.logo{
  font-size: var(--fs-bold);
  align-self:flex-end;
  margin-left: .5em;
}

.result{
  font-size: 4rem;
}

button{
  padding: 0;
  padding-top: .2em;
  font-size:2.5rem;
  background-color: #EBE3DB;
  border-color: #3B4765;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px grey;
}

/*MOBILE*/

.calculator{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--t1-color-dark);
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

nav,
.theme-values,
.theme-component-wrapper,
.theme-selector{
  display: flex;
}

nav{
  justify-content: space-between;
  margin-top: 1.5em;
  color: #fff;
}

.theme-component-wrapper{
  align-items: center;
}

.theme-selector{
  flex-direction: column;
  max-width: 80px;
}

.theme-values{
  justify-content: space-around;
}

.theme-label{
  margin-right: 1em;
  align-self: flex-end;
}

#theme{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #171F32; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0 .3em;
  border-radius: 20px;
}

#theme::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  background: #D13F30; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}



input[type="text"]{
  font-size: 3em;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  text-align: right;
  margin: .5em 0;
  padding: .4em .5em;
  padding-left: 0;
  border-radius: 8px; 
  border: none;
}


main{
  background-color: var(--t1-color-darkest);
  padding: 1.5em;
  border-radius: 8px;
}

.digits{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "seven eight nine del"
  "four five six addition"
  "one two three subtract"
  "dot zero division multiply"
  "res res egual egual ";

}

/*Numbers*/
#one{grid-area: one;}
#two{grid-area: two;}
#three{grid-area: three;}
#four{grid-area: four;}
#five{grid-area: five;}
#six{grid-area:six;}
#seven{grid-area: seven;}
#eight{grid-area: eight;}
#nine{grid-area: nine;}
#zero{grid-area: zero;}

/*Operators*/
#dot{grid-area: dot;}
#division{grid-area:division;}
#multiply{grid-area: multiply;}
#subtract{grid-area: subtract;}
#addition{grid-area: addition;}

#delete{
  grid-area: del;
}


#reset{grid-area: res;}
#egual{grid-area: egual;}


#reset,
#delete{
  font-size: 1.5rem;
}

.digit,
#reset,
#delete,
#egual{
  cursor: pointer;
}


/*THEME 1 CLASSES*/
.nav-one{color:#fff;}
.calculator-one{background-color:#647299;}
.main-one{background-color: #171F32;}
.digits-one{background-color:#D3CDCD;}

.digits-one:hover,
.digits-one:focus{
  background-color: #fff;
}


#theme-one{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #171F32; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0 .3em;
  border-radius: 20px;
}

#theme-one::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  background: #D13F30; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}



.btn-one{
    background-color:#647299;
    color: #fff;
    box-shadow: 0px 4px #647299;
}

.egual-one{
  background-color: #D13F30;
  color: #fff;
  box-shadow: 0px 4px #D04031;
}

#inpout-one{
  background-color: #171F32;
  color: #fff;
}

/*THEME 2 CLASSES*/
.nav-two{color:#34362b;}
.calculator-two{background-color:#E6E6E6;}
.main-two{background-color:#D3CDCD;}
.digits-two{background-color:#E5E4E0;}


.digits-two:hover,
.digits-two:focus{
  background-color: #fff;
}

.btn-two{
    background-color:#62B5BD;
    color: #fff;
    box-shadow: 0px 4px #007781;
}

.egual-two{
  background-color:#FF8B38;
  color: #fff;
  box-shadow: 0px 4px #a54500;
}

#inpout-two{
  background-color: #fff;
  color: #34362b;
}

#theme-two{
  transition: 1s;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #D3CDCD; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0 .3em;
  border-radius: 20px;
}

#theme-two::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  background: #FF8B38; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}



/*THEME 3 CLASSES*/
.nav-tre{color:#FFF45C;}
.calculator-tre{background-color:#17062A;}
.main-tre{background-color:#1E0836;}
.digits-tre{
  background-color:#361D54;
  box-shadow:0 4px #BA18F5;
  color: #FFF45C;
}


.digits-tre:hover,
.digits-tre:focus{
  background-color:#6B34AC;
}

.btn-tre{
    background-color:#56077C;
    color: #fff;
    box-shadow: 0px 4px #BA18F5;
}

.egual-tre{
  background-color: #00DECF;
  color: #361D54;
  box-shadow: 0px 4px #00DECF;
}

#inpout-tre{
  background: #1E0836;
  color: #FFF45C;
}

#theme-tre{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #1E0836; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0 .3em;
  border-radius: 20px;
}

#theme-tre::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  background: #00DECF; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}




@media(min-width:650px){
  
  body{
    display: flex;
    background-color: #3B4765;
  }

  .calculator{
    position: static;
    margin: auto;
  }
  
  
}